<%- include('partials/header'); %> 
<% 
var editChannel = locals.channel.channel
var messages = locals.messages
%> 
			<div id="main">
				<div class="container-fluid">
				<div class="row">
					<div id="sidebar" class="col-md-5 col-sm-6 d-none d-sm-block">
						<%- include('partials/channel-sidebar'); %> 
					</div>  
					<main role="main" class="col-md-7 col-sm-6">
						<h1><%= editChannel.name %></h1>
						<div id="chat">
						<% if (messages) { %>
							<% messages.forEach(function(message) { %>
							<div class="media message <%= message.direction %>" data-time="<%= message.time %>">
								<div class="user">
									<div class="avatar-window">
										<img src="<%= message.user.image %>" alt="Image">
									</div>
									<p><%= message.user.name %></p>
								</div>
								<div class="media-body">
									<%= message.msg %>
									<i class="fas fa-ellipsis-h" 
										data-toggle="popover" 
										data-html="true" 
										data-placement="bottom" 
										data-content="<i class='fas fa-edit'></i><i class='fas fa-trash-alt'></i>">
									</i>
								</div>
								<small class="text-muted time"></small>
							</div>
							<% }) %>
						<% }  %>
						</div>           
						<div id="message">
							<div class="input-group">
								<textarea id="message-box" class="form-control" aria-label="With textarea" placeholder="Type your message here"></textarea>
								<div class="input-group-append">
									<span class="input-group-text">
										<span class="d-none d-md-inline-block">
											<i class="fas fa-paperclip"></i>
											<i class="fas fa-link"></i>
											<i class="fas fa-smile"></i>
										</span>
										<i id="post-messsage" class="fas fa-paper-plane"></i>
									</span>
								</div>
							</div>
						</div>
						<input 
							data-user='{"uid":"<%= locals.user.uid %>","name":"<%= locals.user.displayName %>","image":"<%= locals.user.photoURL %>"}'
							data-channel='{"uid":"<%= editChannel.id %>","name":"<%= editChannel.name %>"}'
							type="hidden" id="chat-info">
					</main>
				</div> <!-- end .row --> 
				</div><!-- end .container-fluid -->
			</div><!-- end #main -->
<%- include('partials/footer'); %>